
.advantages {
  background-color: #ffefef;
  padding: 118px 0 120px 0;
}

.advantages .container {
  display: grid;
  grid-template-columns: 476px 1fr;
  align-items: center;
}

.advantages-title {
  font-size: 45px;
  font-family: TavolgaFree, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  margin-bottom: 60px;
}

.advantages-image {
  margin-left: 151px;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.advantages-image img {
  width: 100%;
}

.advantages-text {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 397px;
  margin-bottom: 83px;
}

.advantages-items {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 87px;
}

.advantages-item:hover .advantages-item__number {
  background-color: #eba8b1;
  color: #821328;
}

.advantages-item__number {
  border-radius: 50%;
  background-color: rgb(130, 19, 40);
  width: 70px;
  height: 70px;
  margin-bottom: 13px;
  transition: 0.3s ease;
}

.advantages-item__number div {
  font-size: 60px;
  font-family: GilroyExtraBold, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.75;
  position: relative;
  top: 28px;
  left: 18px;
  transition: 0.3s ease;
}

.advantages-item:hover .advantages-item__number {
  background-color: #eba8b1;
}

.advantages-item:hover .advantages-item__number div {
  color: #821328;
}

.advantages-item__title {
  font-size: 20px;
  font-family: GilroyExtraBold, sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 20px;
}

.advantages-item__text {
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.333;
}

@media screen and (max-width: 1002px) {
  .advantages-image {
    margin-left: unset;
  }
}

@media screen and (max-width: 768px) {
  .advantages {
    padding: 119px 32px 123px 32px;
  }

  .advantages .container {
    grid-template-columns: auto;
    text-align: center;
    justify-items: center;
  }

  .advantages-image {
    grid-column: unset;
    grid-row: unset;
    margin-bottom: 88px;
  }

  .advantages-image {
    max-width: 302px;
  }

  .advantages-title {
    max-width: 500px;
    margin-bottom: 61px;
  }

  .advantages-text {
    max-width: 650px;
    margin-bottom: 40px;
    font-size: 17px;
  }

  .advantages-items {
    grid-column: unset;
    display: grid;
    grid-template-columns: repeat(2, 217px);
    column-gap: unset;
    grid-gap: 99px 54px;
    align-items: baseline;
  }

  .advantages-item {
    display: grid;
    justify-items: center;
  }

  .advantages-item__number {
    text-align: justify;
  }
}

@media screen and (max-width: 696px) {
  .advantages {
    padding: 100px 0;
  }
}

@media screen and (max-width: 620px) {
  .advantages-items {
    gap: 36px 15px;
  }

}
@media screen and (max-width: 500px) {
  .advantages-title {
    font-size: 30px;
  }

  .advantages-items {
    grid-template-columns: repeat(2, auto);
  }

}

@media screen and (max-width: 376px) {

  .advantages .container {
    padding: 0 16px;
  }

  .advantages-text {
    font-size: 16px;
  }

  .advantages-item__title {
    font-size: 18px;
  }

  .advantages-item__text {
    font-size: 13px;
    width: 165px;
  }
}

@media screen and (max-width: 370px) {
  .advantages-items {
    grid-template: repeat(4, auto) / 1fr;
    row-gap: 36px;
  }
}
