<app-header *ngIf="headerData" [phoneNumber]="phoneNumber" [scrollToFn]="scrollTo"
            [productsEl]="productsEl" [advantagesEl]="headerData.advantagesEl" [orderEl]="orderEl">
</app-header>
<section class="main">
  <div class="container">
    <div class="main-info">
      <h1>Мягкие французские пироженки Macaroons</h1>
      <div class="main-info__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main-info__actions">
        <button class="main-actions__button button" appButtonHover (click)="scrollTo(productsEl)">Выбрать макарун
        </button>
      </div>
    </div>
    <div class="main-image">
      <img src="assets/images/main-img.png" alt="Macaroons">
    </div>
  </div>
</section>
<app-advantages (elementReady)="onAdvantagesReady($event)"></app-advantages>
<section class="products" #productsEl>
  <div class="container">
    <div class="products-title">
      Выберите свой макарун
    </div>
    <div class="products-items">
      <app-product-card *ngFor="let item of productsItems" [product]="item" [scrollToFn]="scrollTo" [orderEl]="orderEl"
                        (addToCard)="addToCard($event)"></app-product-card>
    </div>
  </div>
</section>
<section class="order" #orderEl>
  <div class="container">
    <div class="order__left-strawberry">
      <img src="assets/images/strawberry1.png" alt="Strawberry">
    </div>
    <div class="order__right-strawberry">
      <img src="assets/images/strawberry2.png" alt="Strawberry">
    </div>
    <div class="order-image">
      <img src="assets/images/macaron_form.png" alt="Macaroons">
    </div>
    <div class="order-form">
      <div class="order-form__title">Закажите макарун!</div>
      <div class="order-form__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <form action="#">
        <label> Ваш выбор
          <input type="text" class="order-input" name="productTitle" placeholder="Напишите, что хотите заказать..."
                 [(ngModel)]="formValues.productTitle">
        </label>
        <label> Заполните данные для заказа
          <input type="text" class="name-input" name="name" placeholder="Ваше имя" [(ngModel)]="formValues.name">
          <input type="tel" class="phone-input" name="phone" placeholder="+375 (__) ___ - __ - __"
                 [(ngModel)]="formValues.phone">
        </label>
        <button class="button order-form__btn" appButtonHover (click)="createOrder()">Оформить заказ</button>
      </form>
    </div>
  </div>
</section>
<app-footer [phoneNumber]="phoneNumber" [instagramLink]="instagramLink"></app-footer>
<div class="present">
  <div class="present-img" (mouseenter)="showPopup = true" (mouseleave)="showPopup = false">
    <img src="assets/images/cart.png" alt="Present">
  </div>
  <div class="cart-count">{{ CartService.count }}</div>
  <div class="present-popup" [class.show]="showPopup">
    <div class="present-popup__block">{{ totalStr }} руб.</div>
  </div>
</div>
