* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: TavolgaFree;
  src: url("./assets/fonts/tavolga-free.ttf");
}

@font-face {
  font-family: GilroyRegular;
  src: url(./assets/fonts/gilroy-regular.ttf);
}

@font-face {
  font-family: GilroyMedium;
  src: url(./assets/fonts/gilroy-medium.ttf);
}

@font-face {
  font-family: GilroyBold;
  src: url(./assets/fonts/gilroy-bold.ttf);
}

@font-face {
  font-family: GilroyExtraBold;
  src: url(./assets/fonts/gilroy-extrabold.ttf);
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.button {
  //background-image: linear-gradient(to bottom, rgb(215, 72, 92) 0%, rgb(113, 8, 30) 100%);
  //background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  //background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-family: GilroyBold, sans-serif;
  text-align: center;
  //transition: 0.3s linear;
  cursor: pointer;
  padding: 22px;
  border: none;
  outline: none;
}

//.button:hover {
//  box-shadow: 0 7px 20px 0 #7c0f24;
//}

.contacts {
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 18px;
  }
}

